* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}


/* navbar */

#MainDiv {
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid grey;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: rgb(238, 238, 238);
    color: #000;
    padding: 0 50px;

}


.logo {
    display: flex;
    gap: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 3.5px;
    text-shadow: 2px 2px 4px black;
}

.logo img {
    height: 35px;
    animation: logo-animation 5s infinite;
}

@keyframes logo-animation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3.5px);
    }

    100% {
        transform: translateX(0);
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}


.menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 4px;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.5s ease-in-out;
}

.menu a:hover {
    border-bottom-color: #000;
}


/* NabbarEnds */
/* first-Menu */


.TravelDetailsRedirection {
    cursor: pointer;
}


#container {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 80px;
}

#second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#second h3 {
    color: grey;
    letter-spacing: 0.8px;
}

#second img {
    width: 400px;
}

#Second_div {
    display: flex;
    gap: 22px;
    margin-bottom: 75px;
}

#second p {
    font-size: 30px;
    font-weight: 1000;
    color: rgb(47, 109, 142);
}

#Second_div img {
    height: 240px;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

#Second_div img:hover {
    transform: scale3d(1.1, 1.1, 1);
}

#first h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 100px;
    word-spacing: 25px;
    letter-spacing: 2px;
    margin: 20px;
}

/* first-Menu Ends*/




/* back-to-top button */

#back-to-topbtn img {
    width: 30px;
}

#back-to-topbtn {
    position: fixed;
    bottom: 5%;
    width: 75px;
    right: 1%;
    z-index: 99;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.3s ease-out;
}

#back-to-topbtn:hover {
    background-color: #eee;
}